<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
     <div class="section1">
       <h1>Background Images</h1>
      <img src="./assets/1.jpg" alt="pic not found">
      <img src="./assets/2.jpg" alt="pic not found">
      <img src="./assets/3.jpg" alt="pic not found">
      <br>
      <img src="./assets/4.jpg" alt="pic not found">
      <img src="./assets/5.jpg" alt="pic not found">
      <img src="./assets/6.jpg" alt="pic not found">
       </div>
     <div class="section2">
       <h1>Nature Images</h1>
       <img src="./assets/7.jpg" alt="pic not found">
       <img src="./assets/8.jpg" alt="pic not found">
       <img src="./assets/9.jpg" alt="pic not found"><br>
      <img src="./assets/10.jpg" alt="pic not found">
      <img src="./assets/11.jpg" alt="pic not found">
      <img src="./assets/12.jpg" alt="pic not found">
     </div>
  </body>
</html>
